{
  "root": true,
  "extends": ["@bibliopus"],
  "rules": {
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 2
      },
      "multiline": {
        "max": 1
      }
    }]
  }
}
